# Ignore environment variable files
.env
*.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore other common files
instance/
*.sqlite3
subscriptions.db
uploads/
converted/
feedback.txt
venv/
.vscode/
*.log
